html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container {
    width: 1000px;
    margin: 0 auto;
}

fieldset {
    border: none;
}

.btn {
    border: 0;
    padding: 15px 20px;
    color: #ffffff;
    background-color: blue;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: cadetblue;
}